

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#changeTheme {
    position: fixed;
    top: 10px;
    right: 10px;
}

#changeTheme:hover {
    cursor: pointer;
}

ul {
    list-style: none;

}

header {
    max-width: 100vw;
    border-bottom: 1.4px solid rgb(10, 10, 10);
    padding-bottom: 20px;
}

body {
    background-color: rgb(243, 240, 234);
    padding: 20px 40px;
    color: rgb(10, 10, 10);
}

h1 {
    font-size: 60px;
    color: rgb(111, 180, 0);
}

h2,
h3 {
    color:rgb(10, 10, 10);
    margin-bottom: 12px
}

label:hover {
    cursor: pointer;
}

select {
    background-color: rgb(10, 10, 10);
    color: rgb(243, 240, 234);
    padding: 15px 25px 15px 10px;
}

select:hover {
    cursor: pointer;
}

input,
select {

    border: none;
    font-size: 16px;

}

input:focus {
    outline: none;
}

input[type="file"] {
    display: none;
}

label {
    padding: 15px 25px 15px 10px;
    background-color: rgb(10, 10, 10);
    color: rgb(243, 240, 234);
    text-align: center;
    margin-top: 10px;
}

input[type='submit'] { 
    background-color: rgb(111, 180, 0);
    cursor: pointer;
    border: none;
    font-size: 14px;
    padding: 10px 20px 10px 10px;
    margin: 0px 10px;
}

input[type='submit']:hover {
    transition: 0.5s;
    background-color: rgb(10, 10, 10);
    color: rgb(243, 240, 234);
}

main {
    margin: 6% 0;
}

section {
    margin: 30px 0;
}

section>div, form {
    display: flex;
    flex-direction: row;
    align-items: end;
}


footer {
    max-width: 100vw;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

footer p {
    font-size: 12px;
    color: rgb(10, 10, 10);
}

@media screen and (max-width:500px) {
    body {
        padding: 40px 10px;
    }

    h1 {
        font-size: 56px;
    }

    header p,
    section li {
        font-size: 13px;
    }

    label,
    input,
    select {
        font-size: 14px;
    }

    footer p {
        font-size: 9px;
    }
}