<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/light.css" id="theme">

    <title>meta(data)spy</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
      </style>
</head>

<body>

    <header>
        <input id="changeTheme" type="submit" value="alter theme">

        <h1>Metaspy</h1>

        <p>This intervention aims to analyze file metadata and generate reports. Additionally, you can insert specific
            information for any reason you may have, and you can also clean your files to post them with a significantly
            higher level of privacy.</p>
    </header>

    <main>


        <section id="report">
            <h2>Report</h2>
        
            
        
            <form method="post" action="/web.py" enctype="multipart/form-data">
                <label for="file">select a file</label>
                <input type="file" name="file" id="file">
                <input type="submit" value="analyze" id="generateMainReport">
            </form>
        
            <section id="mainReport">
                <ul>
               
                </ul>
            </section>
        </section>

        <section id="add">
            <h2>Add information</h2>


            <div>
                <select name="" id="">
                    <option value="">select an option</option>
                    <option value="">GPS</option>
                </select>
                <input type="submit" value="add" id="reportAdd">
            </div>

        </section>

        <section id="clean">
            <h2>Clean your image</h2>

            <div>

                <label for="file">select a file</label>
                <input type="file" name="file" id="file">
                <input type="submit" value="clean" id="reportClean">

            </div>

        </section>
        <div id="reportAfterModification" style="display: none;">
            <h3>File metadata after modification:</h3>

            <ul>
               
            </ul>
        </div>
    </main>

    <footer>
        <p>&copy;2023 community. all rights reserved.</p>
    </footer>

    <script src="../static/js/script.js"></script>
</body>

</html>