<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/light.css" id="theme">

    <title>meta(data)spy</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
      </style>
</head>

<body>

    <header>
        <input id="changeTheme" type="submit" value="alter theme">

        <h1>Metaspy</h1>

        <p>This intervention aims to analyze file metadata and generate reports. Additionally, you can insert specific
            information for any reason you may have, and you can also clean your files to post them with a significantly
            higher level of privacy.</p>
    </header>

    <main>
        <section id="report">
            <h2>Report</h2>


            <div>
                <label for="file">select a file</label>
                <input type="file" name="mainFile" id="mainFile">
                <input type="submit" value="analyze" id="generateMainReport">
            </div>

            <section id="mainReport" style="display: none;">
                <ul>
                    <li>Image width: 3024 pixels</li>
                    <li>Image height: 4032 pixels</li>
                    <li>Image orientation: Horizontal (normal)</li>
                    <li>Bits/pixel: 24</li>
                    <li>Pixel format: YCbCr</li>
                    <li>Image DPI width: 300 DPI</li>
                    <li>Image DPI height: 300 DPI</li>
                    <li>Creation date: 55</li>
                    <li>Camera focal: 2.8</li>
                    <li>Camera exposure: 1/60</li>
                    <li>Camera brightness: 5.14</li>
                    <li>Camera model: iPhone 8 Plus</li>
                    <li>Camera manufacturer: Apple</li>
                    <li>Compression: JPEG (Baseline)</li>
                    <li>Thumbnail size: 13.5 KB</li>
                    <li>ISO speed rating: 25</li>
                    <li>EXIF version: 0232</li>
                    <li>Date-time original: 55</li>
                    <li>Date-time digitized: 55</li>
                    <li>Shutter speed: 5.91</li>
                    <li>Aperture: 2.97</li>
                    <li>Exposure bias: -1.29</li>
                    <li>Focal length: 6.6</li>
                    <li>Flashpix version: 0100</li>
                    <li>Focal length in 35mm film: 57</li>
                    <li>Producer: 16.1.2</li>
                    <li>Comment: 94% (approximate)</li>
                    <li>Format version: JFIF 1.01</li>
                    <li>MIME type: image/jpeg</li>
                </ul>
            </section>



        </section>

        <section id="add">
            <h2>Add information</h2>


            <div>
                <select name="" id="">
                    <option value="">select an option</option>
                    <option value="">GPS</option>
                </select>
                <input type="submit" value="add" id="reportAdd">
            </div>

        </section>

        <section id="clean">
            <h2>Clean your image</h2>

            <div>

                <label for="file">select a file</label>
                <input type="file" name="file" id="file">
                <input type="submit" value="clean" id="reportClean">

            </div>

        </section>
        <div id="reportAfterModification" style="display: none;">
            <h3>File metadata after modification:</h3>

            <ul>
                <p>no metadata in this file!!</p>
            </ul>
        </div>
    </main>

    <footer>
        <p>&copy;2023 community. all rights reserved.</p>
    </footer>

    <script src="../js/script.js"></script>
</body>

</html>