<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/light.css">
    <title>references</title>
</head>
<body>
   <header>
    <h1>Metaspy</h1>

   </header>

   <main>
    <ul>
        <li><a href="chat.openai.com/">IA, chatgpt</a></li> <br>
        <li><a href="https://www.youtube.com/watch?v=rFPzo1VnPXU">Html button upload image and process it with python script - latest 2021 Part 2.1</a></li> <br>
        <li><a href="https://auth0.com/blog/read-edit-exif-metadata-in-photos-with-python/">How to Read and Remove Metadata from Your Photos With Python </a></li> <br>
        <li><a href="https://juls-dotcom.github.io/meta_analysis_python.html">tutorial: Meta-Analysis and real life data using Python</a></li> <br>
        <li><a href="https://youtu.be/K2ejI4z8Mbg?si=TuRb2p5Z4fE3lqC0"> Como Criar e Publicar um Site em Python com Flask </a></li>
    </ul>
   </main>
</body>
</html>